:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

section{
    display: flex;
    justify-content: space-between;
    margin: 120px;
    .sec1{
        margin-top: -50px;
        margin-left: 150px;
    }
    h1{
        font-size: 70px;
        margin-top: -50px;
    }

    p{
        width: 400px;
        margin-top: 50px;
        line-height: 1.5;
    }

    #HeroDesktop{
        width: 400px;
        margin-top: -100px;
    }
    button{
        height: 40px;
        width: 120px;
        color: var(--almost-white);
        background-color: var(--almost-black);
        border-style: none;
        border-radius: 10px;
        margin-top: 50px;
    }
    .clients{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        height: 20px;
    }
}
